{
  "plugins": [],
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "atom": true,
    "document": true,
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "no-console": 0
  }
}
